<!DOCTYPE html>
<html lang="es">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>

    <title>MilkStgo - Inicio</title>
    <link rel = "stylesheet" href= "../static/style.css" type="text/css" th:href="@{/style.css}">
    <link rel="stylesheet" href="../static/style.css" type="text/css" th:href="@{/style.css}">
    <meta charset="UTF-8">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
</head>
<body>
<header>

    <a><img src="https://i.ibb.co/TPNdzc9/ovalo-1.png" alt="ovalo-1" border="0" </a>
    <div class="logo">
        <h1>Productos lácteos frescos. Yogurt, mantequilla y quesos de calidad</h1>
        <h1></h1>
    </div>
</header>

<div class="hero-image">
    <div class="container">
        <div class="hero-text">
            <h2>Bienvenido a MilkStgo</h2>
            <a href="/acopioUpload" class="cta-button">Subir Acopio</a>
            <a href="/porcentajeUpload" class="cta-button">Subir Porcentajes</a>
            <a href="/lista-proveedores" class="cta-button">Consultar Proveedores</a>
            <a href="/planillaSelect" class="cta-button">Generar Planilla</a>
        </div>
    </div>
</div>

<div class="container">
    <h2>Sobre nosotros</h2>
    <p>Bienvenido a MilkStgo, una empresa con más de 40 años de experiencia en la producción de productos lácteos de calidad para el mercado nacional. Nos especializamos en la elaboración de yogurt, mantequilla y quesos, utilizando la materia prima más fresca y nutritiva: la leche.

        En MilkStgo entendemos que la calidad de nuestros productos comienza con la selección de los mejores ingredientes. Por eso, establecemos relaciones sólidas con proveedores ubicados en diferentes zonas del país, quienes nos suministran la leche de primera calidad que necesitamos para la elaboración de nuestros productos.


    </p>
</div>
</body>
</html>
