<!DOCTYPE html>
<html>
<head>
    <title>MilkStgo - Inicio</title>
    <link rel = "stylesheet" href= "../static/style.css" type="text/css" th:href="@{/css/style.css}">
</head>
<body>
<header>

    <a><img src="https://i.ibb.co/TPNdzc9/ovalo-1.png" alt="ovalo-1" border="0"</a>
    <h1>Bienvenido a MilkStgo</h1>
</header>

<div class="hero-image">
    <div class="container">
        <div class="hero-text">
            <h2>Productos lácteos frescos</h2>
            <p>Yogurt, mantequilla y quesos de calidad</p>
            <a href="#" class="cta-button">Ver más</a>
        </div>
    </div>
</div>

<div class="container">
    <h2>Sobre nosotros</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam euismod ligula in elit facilisis, id consectetur odio tincidunt. Donec consectetur fermentum commodo. Nunc rutrum massa vel lobortis dapibus. Morbi pellentesque tincidunt augue ut bibendum.</p>
    <p>Proin fringilla diam nec dapibus laoreet. Sed lacinia vestibulum efficitur. Duis maximus bibendum eros vitae venenatis. Integer bibendum eleifend dui, id vulputate velit auctor vitae. Mauris tincidunt convallis tellus, id sagittis arcu efficitur at. In hac habitasse platea dictumst.</p>
</div>
</body>
</html>
