<!DOCTYPE html>
<html lang="es">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
  <title>MilkStgo - Cargar CSV Porcentajes</title>
  <link rel = "stylesheet" href= "../static/style.css" type="text/css" th:href="@{/style.css}">
  <meta charset="UTF-8">
  <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
</head>
<style>
  body {
    background-color: #FAF4FA;
    color: #D889BC;
    font-family: Calibri, sans-serif;
    margin: 0;
    padding: 0;
  }

  .header {
    background-color: #FAF4FA;
    padding: 10px;
    text-align: center;
  }
</style>
<body>
<header class="header">
  <a><img src="https://i.ibb.co/TPNdzc9/ovalo-1.png" alt="ovalo-1" border="0"></a>
  <div class="logo">
    <h1>Carga de archivo</h1>
  </div>
  <nav>
  </nav>
  <a class="cta-button" href="/">Volver a Home</a>
  <a class="cta-button" href="/FileInformationAcopio">Ver el ultimo CSV cargado</a>
</header>
<body2>
  <div class="container">
    <div class="logo">
      <h1><b>Cargar el archivo de datos</b></h1>
    </div>
    <form th:action="@{/acopioUpload}" method="POST" enctype="multipart/form-data">
      <br>
      <input type="file" class="form-control" name="file" accept = ".csv">
      <br>
      <input class = "cta-button"
             type="submit" value="Cargar el archivo a la Base de Datos">
    </form>
    <br>
    <u><b>
      <h2 th:if="${mensaje}" th:text="${mensaje}"></h2>
      <h2 th:unless="${mensaje}">No se ha cargado ningún archivo.</h2>
    </b></u>
  </div>

  <br>
  <hr>


  <h5><b>Recuerde que debe cargar un archivo Excel de extensión .csv!</b></h5>
</body2>
</div>
</body>
</html>