<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
  <title>MilkStgo - Cargar CSV Acopios</title>
  <link rel = "stylesheet" href= "../static/style.css" type="text/css" th:href="@{/css/style.css}">
</head>
<body>
<header class="header">
  <a><img src="https://i.ibb.co/TPNdzc9/ovalo-1.png" alt="ovalo-1" border="0"</a>
  <h1>Carga de archivo</h1>
  <nav>
  </nav>
  <a class="btn" href="/"><button>Volver a Home</button></a>
  <a class="btn-2" href="/fileInformation"><button>Ver el ultimo CSV cargado</button></a>
</header>
<div class = "f">
  <div class="container">
    <h1><b>Cargar el archivo de datos</b></h1>
    <form th:action="@{/fileUpload}" method="POST" enctype="multipart/form-data">
      <br>
      <input type="file" class="form-control" name="file" accept = ".csv">
      <br>
      <input class = "btn btn-primary"
             type="submit" value="Cargar el archivo a la Base de Datos">
    </form>
    <br>
    <u><b> <h2 th:text="${mensaje}"></h2></b></u>
  </div>
</div>
<br>
<hr>

<div class = "form1">
  <h5><b>Recuerde que debe cargar un archivo Excel de extensión .csv!</b></h5>
</div>
</body>
</html>