<!DOCTYPE html>
<html lang="es"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Proveedores Registrados</title>
    <link rel="stylesheet" href="../static/style.css" type="text/css" th:href="@{/style.css}">

</head>
<style>
    body {
        background-color: #FAF4FA;
        color: #D889BC;
        font-family: Calibri, sans-serif;
        margin: 0;
        padding: 0;
    }

    .header {
        background-color: #FAF4FA;
        padding: 10px;
        text-align: center;
    }
</style>
<body>
<header class="header">
    <a><img src="https://i.ibb.co/TPNdzc9/ovalo-1.png" alt="ovalo-1" border="0"></a>
    <h1>Proveedores Registrados</h1>
    <nav>
    </nav>
    <a class="cta-button" href="/">Volver a Página Principal</a>
</header>
<div class="f">
    <div class="container my-2">
        <table border="1" class="content-table">
            <thead>
            <tr>
                <th>Código</th>
                <th>Nombre</th>
                <th>Categoría</th>
                <th>Retención</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="proveedor:${proveedores}">
                <td th:text="${proveedor.codigo}"></td>
                <td th:text="${proveedor.nombre}"></td>
                <td th:text="${proveedor.categoria}"></td>
                <td th:text="${proveedor.retencion}"></td>
            </tr>
            </tbody>
        </table>
        <br>
        <a href="/nuevo-proveedor" class="cta-button">Ingresar Proveedor</a>


    </div>
</div>
<br>
<hr>

</body>
</html>
