
body {
    background-color: #FAF4FA;
    color: #D889BC;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

header {
    background-color: #FAF4FA;
    padding: 0px;
    text-align: center;
}

header img {
    max-width: 600px;
    height: auto;
}

h1 {
    color: #D889BC;
    font-size: 36px;
    margin-bottom: 20px;

}

.hero-image {
    background-image: url('https://i.ibb.co/rMhDMcx/pattern-leaves-4-1-7-0-0-65-2-faf5fa-f0ade4.png');
    background-size: cover;
    background-position: center;
    height: 400px;

}

.hero-text {
    padding-top: 150px;
    text-align: center;

}

.hero-text h2 {
    font-size: 48px;
    color: #D889BC;
    margin-bottom: 20px;
}

.hero-text p {
    font-size: 24px;
    color: #D889BC;
    margin-bottom: 30px;
}

.cta-button {
    display: inline-block;
    padding: 12px 24px;
    background-color: #F0ADE4;
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    border-radius: 4px;
}
