
body {
    background-color: #FAF4FA;
    color: #D889BC;
    font-family: Calibri, sans-serif;
    margin: 0;
    padding: 0;
}

.container {

    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

body2 {
    background-color: #FAF4FA;
    color: #D889BC;
    font-family: Calibri, sans-serif;
    margin: 0;
    padding: 0;
}

.header2 {
    background-color: #FAF4FA;
    padding: 10px;
    text-align: center;
}

header {
    background-color: #FAF4FA;
    color: #D889BC;
    padding: 0px;
    text-align: center;
}

header img {
    max-width: 600px;
    height: auto;
}
.logo {
    margin-bottom: 10px;
}

.logo h1 {
    font-family: 'Pacifico', cursive;
    font-size: 36px;
    color: #D889BC;
}

h1 {
    background-color: #FAF4FA;
    color: #D889BC;
    font-size: 36px;
    margin-bottom: 20px;

}
.content-table {
    background-color: #FAF4FA;
    color: #D889BC;
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
}

.content-table th {
    background-color: #f9f9f9;
    color: #D889BC;
    padding: 10px;
    text-align: left;
}

.content-table td {
    border: 1px solid #F878DA;
    padding: 10px;
}
.hero-image {

    background-size: cover;
    background-position: center;
    height: 400px;

}

.hero-text {
    padding-top: 150px;
    text-align: center;

}

.hero-text h2 {
    font-size: 24px;
    color: #D889BC;
    margin-bottom: 20px;
}

.hero-text p {
    font-size: 24px;
    color: #D889BC;
    margin-bottom: 30px;
}

.cta-button {
    display: inline-block;
    padding: 12px 24px;
    background-color: #ff69b4;
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    border-radius: 4px;
}
.buttons-container {
    text-align: center;
}
